    <div class="box sidemenu">
        <div class="block">
            <ul id='section-menu' class="section-menu section menu" data-bind="foreach:moduleMenus">
                <li>
                    <!-- ko if:$data.iconUrl!=undefined -->
                    <img data-bind="attr:{src:$data.iconUrl}" class="icon" />
                    <!-- /ko -->
                    <a class="menuitem" data-bind="text:name"></a>

                    <ul class="submenu" data-bind="foreach:items">
                        <li><a data-bind="attr:{href:'#'+url, title:name, tooltip: name}, text: name"></a></li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>


