<div id="header" class="header-repeat">
    <div id="branding">
        <div class="floatleft">
            <img src="img/logo.png" alt="Logo" />
        </div>
        <div class="floatright">
            <div class="floatleft">
                <img src="img/img-profile.jpg" alt="Profile Pic" />
            </div>
            <div class="floatleft marginleft10">
                <ul class="inline-ul floatleft">
                    <li>Hello Admin</li>
                    <li><a href="#">Config</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
                <br />
                <span class="small grey">Last Login: 3 hours ago</span>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div class="clear">
</div>
<div id="nav">
    <!--ko compose: {view: 'nav'} -->
    <!--/ko-->
</div>
<div class="clear"></div>
<div class="left-main-nav">
    <!--ko compose: {view: 'rightside'} -->
    <!--/ko-->
</div>
<div class="main-content">
    <div class="box round first main-content-box">
        <h2 data-bind="text: router.activeItem().title" >Buttons</h2>
        <div class="block main-content-box-inner" id="main-content-box-inner">
            <!--ko compose: {model: router.activeItem, 
            afterCompose: afterCompose, 
            transition: 'entrance'} -->
            <!--/ko-->
        </div>
    </div>
</div>
<div id="footer">
<!--ko compose: {view: 'footer'} --><!--/ko-->
    </div>