<div>
    <header>
        <!--ko compose: {view: 'nav'} -->
        <!--/ko-->
    </header>
    <section id="content" class="main container-fluid">
            <div class="main-content">
                <!--ko compose: {model: $root.activeModuleDefaultView, 
            afterCompose: afterCompose, 
            transition: 'entrance'} -->
                <!--/ko-->
            </div>
    </section>
    <footer>
        <!--ko compose: {view: 'footer'} -->
        <!--/ko-->
    </footer>
</div>
